<app-header></app-header>

<section class="appointments-section">
    <h2 class="title">My Appointments</h2>

    <!-- EMPTY STATE -->
    <div *ngIf="allAppointments.length === 0" class="empty-state">
        <img
            src="https://img.freepik.com/free-vector/curious-analyst-investigating-question-mark-with-magnifier_74855-20083.jpg">
        <h4>No Appointments Yet</h4>
    </div>

    <!-- CARDS -->
    <div class="appointments-grid" *ngIf="allAppointments.length > 0">

        <div class="appointment-card" [ngClass]="{'cancelled-card': ap.status === 'Cancelled'}" *ngFor="let ap of allAppointments">

            <!-- TOP -->
            <div class="card-top">

                <div>
                    <h3>{{ ap.doctor }}</h3>
                    <p class="hospital">{{ ap.hospital }}</p>
                </div>

                <div class="token">
                    #{{ ap.tokenNumber }}
                </div>

            </div>

            <!-- DETAILS -->
            <div class="card-body">

                <p><strong>Patient Name:</strong> {{ ap.patientName }}</p>
                <p><strong>Date:</strong> {{ ap.date }}</p>
                <p><strong>Visit:</strong> {{ ap.visitType }}</p>
                <p><strong>Payment:</strong> {{ ap.paymentMethod }}</p>

            </div>

            <!-- FOOTER -->
            <div class="card-footer">

                <span class="status" [ngClass]="ap.status.toLowerCase()">{{ ap.status }}</span>

                <div class="actions">
                    <button *ngIf="ap.status !=='Cancelled' " (click)="downloadReceipt(ap)" class="btn-download">
                        Download
                    </button>

                    <button *ngIf="ap.status !=='Cancelled' " (click)="Cancel(ap._id)"
                        [disabled]="ap.status === 'Cancelled'" class="btn-cancel">
                        {{ ap.status === 'Cancelled' ? 'Cancelled' : 'Cancel' }}
                    </button>
                </div>

            </div>

        </div>

    </div>

</section>

<app-footer></app-footer>