<section class="appointment-section">
    <a routerLink="" class="back-btn">
        <i class="fa-solid fa-chevron-left me-1"></i>Back
    </a>
    <div class="appointment-container">

        <!-- LEFT -->
        <div class="appointment-left">
            <h2>Book Appointment</h2>
            <p>Fill in patient details and confirm your visit easily.</p>
        </div>

        <!-- FORM -->
        <div class="appointment-card">

            <form [formGroup]="apForm">

                <!-- Doctor -->
                <div class="form-group">
                    <label>Doctor</label>
                    <select formControlName="doctor" (change)="onDoctorChange()">
                        <option value="" disabled>Select Doctor</option>
                        <option *ngFor="let doc of doctors" [value]="doc.name">
                            {{doc.name}} - {{doc.specialization}}
                        </option>
                    </select>
                </div>
                <!-- Hospital -->
                <div class="form-group">
                    <label>Hospital</label>
                    <input type="text" [value]="selectedHospital" disabled>
                </div>
                <!-- Patient Name -->
                <div class="form-group">
                    <label>Patient Name</label>
                    <input type="text" formControlName="patientName" placeholder="Enter patient name">
                </div>

                <!-- Age + Phone -->
                <div class="row-2">
                    <input type="number" formControlName="age" placeholder="Age">
                    <input type="text" formControlName="phone" placeholder="Phone Number">
                </div>

                <!-- Visit Type -->
                <div class="form-group">
                    <label>Type of Visit</label>
                    <select formControlName="visitType">
                        <option value="" disabled>Select Type</option>
                        <option>New Consultation</option>
                        <option>Follow-up</option>
                    </select>
                </div>

                <!-- Date -->
                <div class="form-group">
                    <label>Date</label>
                    <input type="date" formControlName="date">
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label>Description</label>
                    <textarea formControlName="description" placeholder="Describe symptoms..."></textarea>
                </div>

                <!-- Payment -->
                <div class="form-group">
                    <label>Payment Method</label>

                    <div class="radio-group">
                        <label>
                            <input type="radio" value="Pay at Hospital" formControlName="paymentMethod">
                            Pay at Hospital
                        </label>

                        <label>
                            <input type="radio" value="Pay Online" formControlName="paymentMethod">
                            Pay Online
                        </label>
                    </div>
                </div>

                <!-- Button -->
                <button type="button" (click)="save()" class="btn-primary" [disabled]="loading">
                    <span *ngIf="!loading">Confirm Booking</span>
                    <span *ngIf="loading" class="loader"></span>
                </button>

            </form>


        </div>

    </div>

</section>